<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Semantic UI CDN</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css"/>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <style>
    body {
      background-image: url('http://www.beforegame.net/wp-content/uploads/2013/10/Screenshot0028.jpg');
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
    }
  </style>
</head>
<body>
<!-- NAVIGATION -->
<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="active item" href="./fridges">
      Fridge
    </a>
    <a class="item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="ui item" href="./login">
        Login
      </a>
    </div>
  </div>
  {{{body}}}
</div>


</body>
</html>