<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="item" href="./fridge">
      Fridge
    </a>
    <a class="item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="active ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="ui item" href="./login">
        Login
      </a>
    </div>
  </div>
  <div class="ui middle aligned center aligned grid">
    <div class="column ingredients">
      <h2 class="ui header">
        <div class="ui horizontal divider">
          Checkout
        </div>
      </h2>

      <div id="ingredient-list-div" class="ui big relaxed divided list">
      </div>
      <button class="positive ui button">View Peapod Cart</button>
    </div>
  </div>
</div>

<script id="cart-ingredient-template" type="text/x-handlebars-template">
  \{{#each ingredients}}
  <div class="item">
    <div class="left floated content">
      <h3>\{{ingredient}}</h3>
    </div>
    <div class="right floated content">
      <button class="ui mini right labeled icon button black">
        <!-- see searchresponse.js unitprice -->
        $3.45
        <i class="trash icon"></i>
      </button>
    </div>
  </div>
  \{{/each}}
</script>

<script src="js/CartUI.js"></script>