<div class="ui middle aligned center aligned grid">
    <div class="column ingredients">
        <h2 class="ui header">
            <div class="ui horizontal divider">
                What's in the fridge?
            </div>
        </h2>
        <!-- SECONDARY TOGGLE ALL MENU -->
        <div class="ui mini menu">
            <div class="item">
                <div class="ui uncheck button align right">All Gone</div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui check button blue">Refresh All</div>
                </div>
            </div>
        </div>

        <!-- ADD INGREDIENT -->

        <div class="ui big fluid labeled left icon action input">
            <input type="text" placeholder="Add Ingredient">
            <i class="shopping basket icon"></i>
            <button class="ui icon button blue">
                <i class="check icon"></i>
            </button>
        </div>

        <!-- ADDED INGREDIENTS -->
        <div class="ui big relaxed divided list">
            <!-- INGREDIENT -->
            <div class="item">
                <div class="left floated content">
                    <div class="ui toggle checkbox middle aligned">
                        <input type="checkbox" checked="checked">
                    </div>
                </div>
                <div class="left floated content">
                    <h3>Brocolli</h3>
                </div>
                <div class="right floated content">
                    <button class="compact mini ui icon button black">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>
            <!-- INGREDIENT -->
            <div class="item">
                <div class="left floated content">
                    <div class="ui toggle checkbox middle aligned">
                        <input type="checkbox" checked="checked">
                    </div>
                </div>
                <div class="left floated content">
                    <h3>Brocolli</h3>
                </div>
                <div class="right floated content">
                    <button class="compact mini ui icon button black">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>
            <!-- INGREDIENT -->
            <div class="item">
                <div class="left floated content">
                    <div class="ui toggle checkbox middle aligned">
                        <input type="checkbox" checked="checked">
                    </div>
                </div>
                <div class="left floated content">
                    <h3>Brocolli</h3>
                </div>
                <div class="right floated content">
                    <button class="compact mini ui icon button black">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TOGGLE ALL INGREDIENTS ON/OFF -->
<script>
    $( document ).ready(function() {
        $('.checkbox').checkbox('attach events', '.check.button', 'check');
        $('.checkbox').checkbox('attach events', '.uncheck.button', 'uncheck');
    });
</script>