<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="active item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="item" href="./fridge">
      Fridge
    </a>
    <a class="item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="ui item" href="./login">
        Login
      </a>
    </div>
  </div>
</div>