<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="item" href="./fridge">
      Fridge
    </a>
    <a class="item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="active ui item" href="./login">
        Login
      </a>
    </div>
  </div>
  <h2 class="ui header">
    <div class="ui horizontal divider">
      Let's see what's possible
    </div>
  </h2>
  <!--  LOGIN -->

  <div id="root">
    embedded area
  </div>
  <script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
  <script>
    var lock = new Auth0Lock('ffo5TCyQ5L4UqFVDpNrDpWsX5JVfgQhN', 'logan.auth0.com', {
      container: 'root',
      auth: {
        redirectUrl: 'https://YOUR_APP/callback',
        responseType: 'code',
        params: {
          scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
        }
      }
    });
    lock.show();
  </script>

<!-- 
  <div class="ui middle aligned center aligned grid">
    <div class="column login">
      <h2 class="ui header">
        <div class="ui horizontal divider">
          Log-in to your peapod account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large submit button">Login</div>
        </div>
        <div class="ui error message"></div>
      </form>
      <div class="ui message">
        New to refrigerecipe? <a href="#">Sign Up</a>
      </div>
    </div>
  </div> -->
</div>
