body {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

.column.login {
  max-width: 450px;
}

.column.ingredients {
  max-width: 600px;
}

.ui.divided.list>.item {
  border-top: 1px solid white;
}

.item h4 {
  font-weight: lighter;
}

.popper > h4 {
  cursor: pointer;
}

.ui.horizontal.segments>.segment {
  border-left: 0;
}

.ui.four.statistics {
  margin: 10px 0 5px;
}

.ui.items {
  margin: 0;
}
/*CARDS*/


/*from: http://jsfiddle.net/cdog/oj4ew4Le/embedded/result/*/

.masonry.grid {
  display: block;
}

@media only screen and (min-width: 768px) {
  .masonry.grid {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .ui.doubling.masonry.grid[class*="three column"] > .column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .masonry.grid {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}

/*indesx*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "sofia-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6em;
}
  .ui.vertical.segment { border: none; }

.ui.vertical.stripe.word { min-height: 550px; }
 .container.think { padding: 20% 0; }
  .ui.vertical.stripe .think h3 { font-size: 4em; }
  #cursor { opacity: 0; animation: cursor 1s infinite;}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
